dev/pug/404.pug
include include/head
body.e404
	.container
		.row
			.col-md-8.ml-auto.mr-auto
				a.logo(href="/"): img(src="assets/images/site/logo404.svg", alt="")
				h1 404
				strong К сожалению страница не найдена
				p Возможно она была удалена или находится в разработке. Вернитесь на главную и попробуйте ещё раз.
				a.btn.btn-primary(href="#") вернуться на главную

www/404.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?v2">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае</title>
  </head>
</html>
<body class="e404">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto"><a class="logo" href="/"><img src="assets/images/site/logo404.svg" alt=""></a>
        <h1>404</h1><strong>К сожалению страница не найдена</strong>
        <p>Возможно она была удалена или находится в разработке. Вернитесь на главную и попробуйте ещё раз.</p><a class="btn btn-primary" href="#">вернуться на главную</a>
      </div>
    </div>
  </div>
</body>
