www/about.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?v2">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае</title>
  </head>
</html>
<body>
  <nav class="inner"><a class="close" href="#">&#215;</a>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 ml-auto">
          <ul>
            <li><a href="#"><b>О нас</b></a></li>
            <li><a href="#"><b>Услуги</b></a></li>
            <li><a href="#"><b>Проекты</b></a></li>
            <li><a href="#"><b>Гарантии</b></a></li>
            <li><a href="#"><b>Блог</b></a></li>
            <li><a href="#"><b>Контакты</b></a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4">
          <ul>
            <li><a href="#">Истории успеха</a></li>
            <li><a href="#">Каталоги</a></li>
            <li><a href="#">Партнёрам</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4 mr-auto">
          <div class="d-flex flex-column align-items-start"><a class="phone" href="tel:+74162589938">+7 (4162) 58-99-38</a><a class="mail" href="mailto:info@chex.ru">info@chex.ru</a><a class="insta" href="#"><img src="assets/images/site/inst.svg" alt=""></a>
            <p>Всё о бизнесе в Китае</p><a class="btn btn-primary" href="#callback" data-toggle="modal">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-overlay"></div>
  <main class="pl-0 pr-0">
    <div class="header-page" style="background: url('assets/images/site/header-about.jpg') center / cover no-repeat">
      <header class="header__inner">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 col-6"><a class="logo" href="#"><img src="assets/images/site/logo-h.png" alt="">
                <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p></a></div>
            <div class="col-5 d-none d-xl-inline-block">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-xl-3 col-lg-8 text-right col-6">
              <div class="d-flex w-100 align-items-center justify-content-end"><a class="phone" href="#">+7 (4162) 58-99-38</a><a class="menu" href="#"><span></span></a></div>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>О нас</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-8">
            <h4>В работе с нашими партнерами возможен только индивидуальный подход. Мы стремимся оптимально решать поставленные задачи, учитывая особенности каждого клиента.</h4>
            <p>Подбираем и импортируем промышленное оборудование, спецтехнику и комплектующие. За время работы мы охватили 12 производственных направлений, нашими партнерами стали 78 производителей на территории КНР. <br/>Компания располагается в Благовещенске на границе с КНР, где два государства разделяет река Амур, а расстояние между городами Благовещенск и ХэйХэ составляет всего 526 метров.</p>
          </div>
          <div class="col-lg-3 ml-auto">
            <div class="w50">
              <h2 class="mb-2">1278</h2>
              <p>реализованных проектов</p>
            </div>
            <div class="w50">
              <h2 class="mb-2">78</h2>
              <p>партнёров-производителей в КНР</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="history-main">
      <div class="container">
        <div class="row">
          <div class="col-12 dots"><a class="active" href="#" data-id="0">2009</a><a href="#" data-id="1">2010</a><a href="#" data-id="2">2011</a><a href="#" data-id="3">2012</a><a href="#" data-id="4">2013</a><a href="#" data-id="5">2014</a><a href="#" data-id="6">2015</a><a href="#" data-id="7">2016</a><a href="#" data-id="8">2017</a><a href="#" data-id="9">2018</a><a href="#" data-id="10">2019</a></div>
          <div class="col-lg-6">
            <h2>История развития</h2>
            <p>Больше 10 лет мы помогаем развивать бизнес на территории Российской Федерации</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 ml-auto">
            <div class="history-pagination">
              <div class="prev"></div>
              <div class="next"></div>
            </div>
            <div class="history-slider">
              <div class="history__item"><strong>2009</strong><span>Начинаем работу</span>
                <p>Открываем первую компанию и стартуем импорт первых заводов сельскохозяйственного назначения, также активно развиваем направление спецтехники и металлообрабатывающего оборудования. </p>
              </div>
              <div class="history__item"><strong>2010</strong><span>Расширяем географию</span>
                <p>Находим клиентов из Москвы, Липецка, Владивостока, Новосибирска, Омска и других городов, многие из которых становятся постоянными на следующие годы. Понимая высокий спрос в западной части России начинаем реализовывать оборудование и технику по всей России.</p>
              </div>
              <div class="history__item"><strong>2011</strong><span>Работаем на постоянных клиентов</span>
                <p>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество, с некоторыми из этих компаний мы будем работать ближайшие годы на постоянной основе, что большая редкость на рынке. </p>
              </div>
              <div class="history__item"><strong>2012</strong><span>Год спецтехники</span>
                <p>Расширяем географию продаж и ассортимент спецтехники. Реализуем самосвалы, автокраны, асфальтоукладчики, бетононасосы и другую дорожную и строительную технику. Большим спросом пользуется направления строительства, укладки дорог и горной добычи. </p>
              </div>
              <div class="history__item"><strong>2013</strong><span>Расширяем ассортимент оборудования</span>
                <p>Посетив множество выставок разрабатываем дополнительные направления – полиграфическое оборудование, буровое и горно-добывающее оборудование, фильтр-прессы. Уходим в более профессиональную специализацию, для качественной работы по станкам. </p>
              </div>
              <div class="history__item"><strong>2014</strong><span>Переходим сквозь кризис</span>
                <p>Изменение курса юаня более чем на 100 % делает невыгодным многие направления, к примеру металлообработку и спецтехнику. Компании терпят убытки, закрываются. Мы стараемся сохранить свой бизнес и дать возможность сохранить его нашим клиентам.</p>
              </div>
              <div class="history__item"><strong>2015</strong><span>Новые направления</span>
                <p>Изменение рынка всегда требует мобильности компании. Мы открываем для себя оборудование для производства пленки и пакетов, оборудование для алмазного бурения, запасные части для насосов, станки для золотодобычи. </p>
              </div>
              <div class="history__item"><strong>2016</strong><span>Модернизация</span>
                <p>Понимая необходимость перемен, мы модернизируем веб-ресурсы, связи внутри компании, открываем дополнительные сайты. Не смотря на низкие показатели интернет статистики имеем большое количества клиентов. Мы работаем на отношение и наши партнеры это понимают.</p>
              </div>
              <div class="history__item"><strong>2017</strong><span>Профессионализм</span>
                <p>Посещая множество заводов нам все больше нравится работать с нашими постоянными партнерами в Китае. Мы вкладываем все силы не столько в продвижение товара, сколько в самого производителя, так как товар меняется, а отношения и производитель остается. </p>
              </div>
              <div class="history__item"><strong>2018</strong><span>Специализация</span>
                <p>Мы понимаем, что уровень качества предоставленных услуг и поставленных товаров растет с каждым днем. Мы открываем специализированные отделы по продажам установок алмазного бурения, оборудования для производства пакетов и полиграфического оборудования. </p>
              </div>
              <div class="history__item"><strong>2019</strong><span>Новое имя, старые принципы.</span>
                <p>Мы делаем ребрендинг и объединяем все наши проекты и компании в одну группу, с имеющимся опытом мы уже позиционируем себя не только как поставщика, но и как компанию, осуществляющую комплексное взаимодействие бизнеса с Китаем. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box geo">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>География работ</h2>
          </div>
          <div class="col-xl-2 col-lg-4"><strong>232</strong>
            <p>городов в России, география поставок</p><strong>46</strong>
            <p>городов в России, география поставок</p>
          </div>
        </div>
      </div>
    </div>
    <div class="box pt-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Компания в лицах</h2>
          </div>
          <div class="col-lg-4 col-md-6"><a class="personal__items" href="#personal" data-toggle="modal">
              <div class="personal__card">
                <div class="image" style="background: url('assets/images/p.jpg') center / cover no-repeat;"></div>
                <div class="text">
                  <p>Лев Попов</p><span>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …</span>
                </div>
              </div>
              <p>#основатель</p></a></div>
          <div class="col-lg-4 col-md-6"><a class="personal__items" href="#personal" data-toggle="modal">
              <div class="personal__card">
                <div class="image" style="background: url('assets/images/p2.jpg') center / cover no-repeat;"></div>
                <div class="text">
                  <p>Иван Попов</p><span>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …</span>
                </div>
              </div>
              <p>#основатель</p></a></div>
          <div class="col-lg-4 col-md-6"><a class="personal__items" href="#personal" data-toggle="modal">
              <div class="personal__card">
                <div class="image" style="background: url('assets/images/p5.jpg') center / cover no-repeat;"></div>
                <div class="text">
                  <p>Марина Сидельникова</p><span>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …</span>
                </div>
              </div>
              <p>#администратор</p></a></div>
          <div class="col-lg-4 col-md-6"><a class="personal__items" href="#personal" data-toggle="modal">
              <div class="personal__card">
                <div class="image" style="background: url('assets/images/p3.jpg') center / cover no-repeat;"></div>
                <div class="text">
                  <p>Алексей Соколов</p><span>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …</span>
                </div>
              </div>
              <p>#менеджер по продажам</p></a></div>
          <div class="col-lg-4 col-md-6"><a class="personal__items" href="#personal" data-toggle="modal">
              <div class="personal__card">
                <div class="image" style="background: url('assets/images/p4.jpg') center / cover no-repeat;"></div>
                <div class="text">
                  <p>Сун Лей</p><span>Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …</span>
                </div>
              </div>
              <p>#менеджер по Китаю</p></a></div>
        </div>
      </div>
    </div>
    <div class="footer__link"><a class="bg3" href="#"><span>Проекты</span></a><a class="bg4" href="#"><span>Гарантии</span></a><a class="bg2" href="#"><span>Блог</span></a></div>
  </main>
  <footer class="footer__inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-4">
          <div class="row">
            <div class="col-lg-6"><a class="logo" href="#"><img src="assets/images/site/logo.png" alt=""></a>
              <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Блог</a></li>
              </ul>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">Истории успеха</a></li>
                <li><a href="#">Каталоги</a></li>
                <li><a href="#">Партнёрам</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-8">
          <div class="row">
            <div class="col-lg-6 col-md-5 ml-auto"><a class="contacts__link" href="#">+7 (4162) 58-99-38</a><a class="contacts__link" href="#">info@chex.ru</a><a class="btn btn-secondary" href="#">обратный звонок</a></div>
            <div class="col-lg-4 col-md-5"><a class="insta" href="#"><img src="assets/images/site/instagram.png" alt=""></a>
              <p>Всё о бизнесе в Китае</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bottom">
      <div class="row">
        <div class="col-sm-6 text-left">
          <p>©  chex, 2019</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>создание и дизайн — <a href="#" target="_blank">affetta.ru</a></p>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal fade bd-example-modal-lg" id="callback">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <form>
            <h3>Ваша заявка</h3>
            <p>Введите ваш номер телефона и&nbsp;менеджер свяжется с&nbsp;вами в&nbsp;течении часа.</p>
            <div class="form-group">
              <input class="form-control" placeholder="+7 (___)" name="phone" required="required">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="thanx">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body text-center">
          <form class="d-block">
            <h3>Спасибо! Заявка <br/>успешно отправлена</h3>
            <p>Ваш персональный  менеджер свяжется с вами в течении часа.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="personal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="image"><img src="assets/images/p2.jpg" alt=""></div>
            </div>
            <div class="col-md-8">
              <div class="text">
                <h2>Лев Попов</h2>
                <p>#основатель</p>
                <div class="scroll">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam nulla repudiandae, pariatur, officia natus, minus ratione quae, eligendi ab voluptatibus. Dolorem cupiditate, eligendi harum.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero pariatur commodi repellendus, perspiciatis, ratione quibusdam temporibus quo fuga accusamus, blanditiis, necessitatibus minus! Perferendis itaque, libero.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nesciunt saepe temporibus, mollitia nisi alias facere delectus corporis voluptas. Perspiciatis labore, libero quibusdam architecto dolorem!</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio, magni nulla mollitia?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

dev/pug/about.pug
include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page(style="background: url('assets/images/site/header-about.jpg') center / cover no-repeat")
			include include/header_inner
			.container
				.row
					.col-12
						h1 О нас

		.box
			.container.pt-5
				.row
					.col-lg-8
						h4 В работе с нашими партнерами возможен только индивидуальный подход. Мы стремимся оптимально решать поставленные задачи, учитывая особенности каждого клиента.
						p Подбираем и импортируем промышленное оборудование, спецтехнику и комплектующие. За время работы мы охватили 12 производственных направлений, нашими партнерами стали 78 производителей на территории КНР. <br/>Компания располагается в Благовещенске на границе с КНР, где два государства разделяет река Амур, а расстояние между городами Благовещенск и ХэйХэ составляет всего 526 метров.
					.col-lg-3.ml-auto
						div.w50
							h2.mb-2 1278
							p реализованных проектов
						div.w50
							h2.mb-2 78
							p партнёров-производителей в КНР

		.history-main
			.container
				.row
					.col-12.dots
						a.active(href="#" data-id="0") 2009
						a(href="#" data-id="1") 2010
						a(href="#" data-id="2") 2011
						a(href="#" data-id="3") 2012
						a(href="#" data-id="4") 2013
						a(href="#" data-id="5") 2014
						a(href="#" data-id="6") 2015
						a(href="#" data-id="7") 2016
						a(href="#" data-id="8") 2017
						a(href="#" data-id="9") 2018
						a(href="#" data-id="10") 2019
					.col-lg-6
						h2 История развития
						p Больше 10 лет мы помогаем развивать бизнес на территории Российской Федерации
				.row
					.col-lg-6.ml-auto
						.history-pagination
							.prev
							.next
						.history-slider
							.history__item
								strong 2009
								span Начинаем работу
								p Открываем первую компанию и стартуем импорт первых заводов сельскохозяйственного назначения, также активно развиваем направление спецтехники и металлообрабатывающего оборудования. 
							.history__item
								strong 2010
								span Расширяем географию
								p Находим клиентов из Москвы, Липецка, Владивостока, Новосибирска, Омска и других городов, многие из которых становятся постоянными на следующие годы. Понимая высокий спрос в западной части России начинаем реализовывать оборудование и технику по всей России.
							.history__item
								strong 2011
								span Работаем на постоянных клиентов
								p Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество, с некоторыми из этих компаний мы будем работать ближайшие годы на постоянной основе, что большая редкость на рынке. 
							.history__item
								strong 2012
								span Год спецтехники
								p Расширяем географию продаж и ассортимент спецтехники. Реализуем самосвалы, автокраны, асфальтоукладчики, бетононасосы и другую дорожную и строительную технику. Большим спросом пользуется направления строительства, укладки дорог и горной добычи. 
							.history__item
								strong 2013
								span Расширяем ассортимент оборудования
								p Посетив множество выставок разрабатываем дополнительные направления – полиграфическое оборудование, буровое и горно-добывающее оборудование, фильтр-прессы. Уходим в более профессиональную специализацию, для качественной работы по станкам. 
							.history__item
								strong 2014
								span Переходим сквозь кризис
								p Изменение курса юаня более чем на 100 % делает невыгодным многие направления, к примеру металлообработку и спецтехнику. Компании терпят убытки, закрываются. Мы стараемся сохранить свой бизнес и дать возможность сохранить его нашим клиентам.
							.history__item
								strong 2015
								span Новые направления
								p Изменение рынка всегда требует мобильности компании. Мы открываем для себя оборудование для производства пленки и пакетов, оборудование для алмазного бурения, запасные части для насосов, станки для золотодобычи. 
							.history__item
								strong 2016
								span Модернизация
								p Понимая необходимость перемен, мы модернизируем веб-ресурсы, связи внутри компании, открываем дополнительные сайты. Не смотря на низкие показатели интернет статистики имеем большое количества клиентов. Мы работаем на отношение и наши партнеры это понимают.
							.history__item
								strong 2017
								span Профессионализм
								p Посещая множество заводов нам все больше нравится работать с нашими постоянными партнерами в Китае. Мы вкладываем все силы не столько в продвижение товара, сколько в самого производителя, так как товар меняется, а отношения и производитель остается. 
							.history__item
								strong 2018
								span Специализация
								p Мы понимаем, что уровень качества предоставленных услуг и поставленных товаров растет с каждым днем. Мы открываем специализированные отделы по продажам установок алмазного бурения, оборудования для производства пакетов и полиграфического оборудования. 
							.history__item
								strong 2019
								span Новое имя, старые принципы.
								p Мы делаем ребрендинг и объединяем все наши проекты и компании в одну группу, с имеющимся опытом мы уже позиционируем себя не только как поставщика, но и как компанию, осуществляющую комплексное взаимодействие бизнеса с Китаем. 

		.box.geo
			.container
				.row
					.col-12
						h2 География работ
					.col-xl-2.col-lg-4
						strong 232
						p городов в России, география поставок
						strong 46
						p городов в России, география поставок

		.box.pt-0
			.container
				.row
					.col-12
						h2 Компания в лицах
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p.jpg') center / cover no-repeat;")
								.text
									p Лев Попов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #основатель
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p2.jpg') center / cover no-repeat;")
								.text
									p Иван Попов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #основатель
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p5.jpg') center / cover no-repeat;")
								.text
									p Марина Сидельникова
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #администратор
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p3.jpg') center / cover no-repeat;")
								.text
									p Алексей Соколов
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #менеджер по продажам
					.col-lg-4.col-md-6
						a.personal__items(href="#personal" data-toggle="modal")
							.personal__card
								.image(style="background: url('assets/images/p4.jpg') center / cover no-repeat;")
								.text
									p Сун Лей
									span Мы налаживаем работу с несколькими клиентами и делаем ставку на долгосрочное сотрудничество …
							p #менеджер по Китаю

		.footer__link
			a.bg3(href="#"): span Проекты
			a.bg4(href="#"): span Гарантии
			a.bg2(href="#"): span Блог

	include include/footer_inner
	include include/modal
