www/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?v2">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае</title>
  </head>
</html>
<body>
  <header class="header__inner">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-6"><a class="logo" href="#"><img src="assets/images/site/logo-h.png" alt="">
            <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p></a></div>
        <div class="col-5 d-none d-xl-inline-block">
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Проекты</a></li>
            <li><a href="#">Гарантии</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-8 text-right col-6">
          <div class="d-flex w-100 align-items-center justify-content-end"><a class="phone" href="#">+7 (4162) 58-99-38</a><a class="menu" href="#"><span></span></a></div>
        </div>
      </div>
    </div>
  </header>
  <nav class="inner"><a class="close" href="#">&#215;</a>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 ml-auto">
          <ul>
            <li><a href="#"><b>О нас</b></a></li>
            <li><a href="#"><b>Услуги</b></a></li>
            <li><a href="#"><b>Проекты</b></a></li>
            <li><a href="#"><b>Гарантии</b></a></li>
            <li><a href="#"><b>Блог</b></a></li>
            <li><a href="#"><b>Контакты</b></a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4">
          <ul>
            <li><a href="#">Истории успеха</a></li>
            <li><a href="#">Каталоги</a></li>
            <li><a href="#">Партнёрам</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4 mr-auto">
          <div class="d-flex flex-column align-items-start"><a class="phone" href="tel:+74162589938">+7 (4162) 58-99-38</a><a class="mail" href="mailto:info@chex.ru">info@chex.ru</a><a class="insta" href="#"><img src="assets/images/site/inst.svg" alt=""></a>
            <p>Всё о бизнесе в Китае</p><a class="btn btn-primary" href="#callback" data-toggle="modal">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-overlay"></div>
  <main class="pl-0 pr-0">
    <div class="header header__inner-main">
      <div class="slick-dots-header"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="slick__header">
              <div class="slick__header--items"><span>Промышленное оборудование <br/>и&nbsp;бизнес-сопровождение ваших проектов в&nbsp;Китае</span>
                <h1>Опытная русская команда&#8194;<br/>откроет дверь в <span>Китай</span>&#8194;<br/>вашему бизнесу.</h1>
                <p>Охватываем главную тему, плюс общую идею бизнес-сопровождения. Простым языком доводим направление работы.</p>
              </div>
              <div class="slick__header--items"><span>Импорт и&nbsp;экспорт</span>
                <h1>Юридически безопасный&#8194;<br/>импорт и <span>бизнес</span>-решения&#8194;<br/>по экспорту</h1>
                <p>Охватываем основные 2&nbsp;пути работы с&nbsp;Китаем. Делаем акцент на&nbsp;гарантии, юридической безопасности и&nbsp;возможностей к&nbsp;экспорту.</p>
              </div>
              <div class="slick__header--items"><span>Снабжение производств <br/>и&nbsp;сопровождение проектов под ключ</span>
                <h1>Организуем комплексное <br/>взаимодействие бизнеса <br/>России и <span>Китая</span></h1>
                <p>от продажи оборудования переходим к&nbsp;снабжению и&nbsp;говорим о&nbsp;сопровождении любых проектов. Говорим об «организации контракта» как о&nbsp;основной возможности компании.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6"><a class="btn btn-primary" href="#">оставить заявку</a></div>
          <div class="col-md-6 d-none d-md-inline-block">
            <div class="slick__header-pagination">
              <div class="prev"><img src="assets/images/arrow-prev.svg" alt=""></div>
              <div class="next"><img src="assets/images/arrow-next.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="white-box">
      <div class="container">
        <div class="row">
          <div class="col-12 title">
            <h1>Услуги</h1>
          </div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>01</span><strong>Импорт оборудования от надежных заводов</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>02</span><strong>Организация бизнес-поездок на заводы и выставки России и Китая</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>03</span><strong>Поиск и выбор ответственных производителей в Китае</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>04</span><strong>Комплексное сопровождение экспорта Русской продукции</strong>
              <p>Оказываем весь спектр услуг для отечественных производителей от консалтинга и упаковки бренда, до экспорта продукции от лица своей компании. </p></a></div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>05</span><strong>Помощь в юридических аспектах в работе с Китаем</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
        </div>
      </div>
    </div>
    <div class="box pb-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <div class="d-flex align-items-end justify-content-start fw">
                <h2>Недавние проекты</h2><a class="all ml-4" href="#" style="margin-bottom: 75px;">смотреть все</a>
              </div>
              <div class="project-pagination">
                <div class="prev"><img src="assets/images/arrow-prev.svg" alt=""></div>
                <div class="count"></div>
                <div class="next"><img src="assets/images/arrow-next.svg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="project-slider"><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="advantages advantages__inner" id="advantages">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Почему вам выгодно работать с&nbsp;нами</h3>
          </div>
          <div class="col-12 d-none d-lg-inline-block">
            <ul class="nav nav-pills justify-content-between" id="av-tab">
              <li class="nav-item"><a class="nav-link active" href="#a1" data-toggle="tab">Ценовая <br/>политика</a></li>
              <li class="nav-item"><a class="nav-link" href="#a2" data-toggle="tab">Надежность <br/>и уверенность</a></li>
              <li class="nav-item"><a class="nav-link" href="#a3" data-toggle="tab">Мобильность <br/>и активность</a></li>
              <li class="nav-item"><a class="nav-link" href="#a4" data-toggle="tab">Принципиальность <br/>в нашем ДНК</a></li>
            </ul>
            <div class="tab-content" id="av-content">
              <div class="tab-pane fade show active" id="a1"> 
                <div class="row align-items-center">
                  <div class="col-1 ml-auto text-center"><a class="fa fa-angle-left" href="#a4" data-toggle="tab"></a></div>
                  <div class="col-xl-6 col-lg-8 text-center"><img src="assets/images/a1.png" alt=""><strong>Оптимальная ценовая политика</strong>
                    <p>Мы предлагаем качество <br/>по&nbsp;конкурентоспособным ценам.</p>
                  </div>
                  <div class="col-1 mr-auto text-center"><a class="fa fa-angle-right" href="#a2" data-toggle="tab"></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="a2"> 
                <div class="row align-items-center">
                  <div class="col-1 ml-auto text-center"><a class="fa fa-angle-left" href="#a1" data-toggle="tab"></a></div>
                  <div class="col-xl-6 col-lg-8 text-center"><img src="assets/images/a2.png" alt=""><strong>Надежность и уверенность</strong>
                    <p>Вы можете быть уверены в&nbsp;юридической <br/>чистоте и&nbsp;гарантии сделки.</p>
                  </div>
                  <div class="col-1 mr-auto text-center"><a class="fa fa-angle-right" href="#a3" data-toggle="tab"></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="a3"> 
                <div class="row align-items-center">
                  <div class="col-1 ml-auto text-center"><a class="fa fa-angle-left" href="#a2" data-toggle="tab"></a></div>
                  <div class="col-xl-6 col-lg-8 text-center"><img src="assets/images/a3.png" alt=""><strong>Мобильность и&nbsp;активность</strong>
                    <p>Мы исследуем рынок Китая и знаем где, <br/>когда и&nbsp;с&nbsp;кем лучше взаимодействовать в&nbsp;настоящий момент времени.</p>
                  </div>
                  <div class="col-1 mr-auto text-center"><a class="fa fa-angle-right" href="#a4" data-toggle="tab"></a></div>
                </div>
              </div>
              <div class="tab-pane fade" id="a4"> 
                <div class="row align-items-center">
                  <div class="col-1 ml-auto text-center"><a class="fa fa-angle-left" href="#a3" data-toggle="tab"></a></div>
                  <div class="col-xl-6 col-lg-8 text-center"><img src="assets/images/a4.png" alt=""><strong>Принципиальность в нашем ДНК</strong>
                    <p>В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для нас больше, чем просто слова.</p>
                  </div>
                  <div class="col-1 mr-auto text-center"><a class="fa fa-angle-right" href="#a1" data-toggle="tab"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-inline-block d-lg-none">
            <div class="advantages__items"><strong>Оптимальная ценовая политика</strong>
              <p>Мы предлагаем качественное оборудование по&nbsp;конкурентоспособным ценам</p>
            </div>
            <div class="advantages__items"><strong>Надежность и&nbsp;уверенность</strong>
              <p>Вы можете быть уверены в&nbsp;оказании качественных услуг до&nbsp;самого момента запуска станка в&nbsp;работу.</p>
            </div>
            <div class="advantages__items"><strong>Мобильность и&nbsp;активность</strong>
              <p>Мы контролируем производителей и&nbsp;знаем где, когда и&nbsp;у&nbsp;кого лучше приобретать оборудование в&nbsp;настоящий момент времени</p>
            </div>
            <div class="advantages__items"><strong>Принципиальность в&nbsp;нашем ДНК</strong>
              <p>В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для&nbsp;нас больше, чем просто слова. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="white-box mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 title mt-0 mb-0">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <div class="d-flex align-items-end justify-content-start fw">
                <h2>Блог о бизнесе в Китае</h2><a class="all ml-4" href="#" style="margin-bottom: 65px;">читать весь</a>
              </div>
              <div class="blog-pagination">
                <div class="prev"><img src="assets/images/arrow-prev-blue.svg" alt=""></div>
                <div class="count"></div>
                <div class="next"><img src="assets/images/arrow-next-blue.svg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="blog-slider"><a class="blog__item" href="#">
                <div class="image" style="background: url('assets/images/site/blog.png')"><span>О компании</span></div>
                <div class="text">
                  <div class="d-flex"><span>23 сентября 2019 </span><span class="text-large">&bull; </span><span>5 мин читать</span></div>
                  <p>Импорт оборудования от надежных заводов оборудования</p>
                </div></a><a class="blog__item" href="#">
                <div class="image" style="background: url('assets/images/site/blog.png')"><span>О компании</span></div>
                <div class="text">
                  <div class="d-flex"><span>23 сентября 2019 </span><span class="text-large">&bull; </span><span>5 мин читать</span></div>
                  <p>Импорт оборудования от надежных заводов оборудования</p>
                </div></a><a class="blog__item" href="#">
                <div class="image" style="background: url('assets/images/site/blog.png')"><span>О компании</span></div>
                <div class="text">
                  <div class="d-flex"><span>23 сентября 2019 </span><span class="text-large">&bull; </span><span>5 мин читать</span></div>
                  <p>Импорт оборудования от надежных заводов оборудования</p>
                </div></a><a class="blog__item" href="#">
                <div class="image" style="background: url('assets/images/site/blog.png')"><span>О компании</span></div>
                <div class="text">
                  <div class="d-flex"><span>23 сентября 2019 </span><span class="text-large">&bull; </span><span>5 мин читать</span></div>
                  <p>Импорт оборудования от надежных заводов оборудования</p>
                </div></a><a class="blog__item" href="#">
                <div class="image" style="background: url('assets/images/site/blog.png')"><span>О компании</span></div>
                <div class="text">
                  <div class="d-flex"><span>23 сентября 2019 </span><span class="text-large">&bull; </span><span>5 мин читать</span></div>
                  <p>Импорт оборудования от надежных заводов оборудования</p>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="personal personal__inner" id="personal">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <h3>Компания в лицах</h3>
              <div class="personal__count">01 - 03</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8 col-lg-10 ml-auto">
            <div class="slick__personal">
              <div class="personal__items">
                <div class="personal__card">
                  <div class="image" style="background: url('assets/images/p.jpg') center / cover no-repeat;"></div>
                  <p>Лев Попов</p>
                </div>
                <p>#основатель</p>
              </div>
              <div class="personal__items">
                <div class="personal__card">
                  <div class="image" style="background: url('assets/images/p2.jpg') center / cover no-repeat;"></div>
                  <p>Иван Попов</p>
                </div>
                <p>#основатель</p>
              </div>
              <div class="personal__items">
                <div class="personal__card">
                  <div class="image" style="background: url('assets/images/p5.jpg') center / cover no-repeat;"></div>
                  <p>Марина Сидельникова</p>
                </div>
                <p>#администратор</p>
              </div>
              <div class="personal__items">
                <div class="personal__card">
                  <div class="image" style="background: url('assets/images/p3.jpg') center / cover no-repeat;"></div>
                  <p>Алексей Соколов</p>
                </div>
                <p>#менеджер по продажам</p>
              </div>
              <div class="personal__items">
                <div class="personal__card">
                  <div class="image" style="background: url('assets/images/p4.jpg') center / cover no-repeat;"></div>
                  <p>Сун Лей</p>
                </div>
                <p>#менеджер по Китаю</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center justify-content-end">
              <div class="personal__prev fa fa-angle-right"></div>
              <div class="personal__next fa fa-angle-left"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog" id="catalog">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>Наши каталоги</h3>
          </div>
          <div class="col-12">
            <div class="catalog__items">
              <p>Оборудование для&nbsp;производства&nbsp;пакетов</p><a href="http://importpack.ru" target="_blank">importpack.ru</a>
            </div>
            <div class="catalog__items">
              <p>Оборудование для&nbsp;алмазного&nbsp;бурения</p><a href="http://redbur.ru" target="_blank">redbur.ru</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer__inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-4">
          <div class="row">
            <div class="col-lg-6"><a class="logo" href="#"><img src="assets/images/site/logo.png" alt=""></a>
              <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Блог</a></li>
              </ul>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">Истории успеха</a></li>
                <li><a href="#">Каталоги</a></li>
                <li><a href="#">Партнёрам</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-8">
          <div class="row">
            <div class="col-lg-6 col-md-5 ml-auto"><a class="contacts__link" href="#">+7 (4162) 58-99-38</a><a class="contacts__link" href="#">info@chex.ru</a><a class="btn btn-secondary" href="#">обратный звонок</a></div>
            <div class="col-lg-4 col-md-5"><a class="insta" href="#"><img src="assets/images/site/instagram.png" alt=""></a>
              <p>Всё о бизнесе в Китае</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bottom">
      <div class="row">
        <div class="col-sm-6 text-left">
          <p>©  chex, 2019</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>создание и дизайн — <a href="#" target="_blank">affetta.ru</a></p>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal fade bd-example-modal-lg" id="callback">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <form>
            <h3>Ваша заявка</h3>
            <p>Введите ваш номер телефона и&nbsp;менеджер свяжется с&nbsp;вами в&nbsp;течении часа.</p>
            <div class="form-group">
              <input class="form-control" placeholder="+7 (___)" name="phone" required="required">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="thanx">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body text-center">
          <form class="d-block">
            <h3>Спасибо! Заявка <br/>успешно отправлена</h3>
            <p>Ваш персональный  менеджер свяжется с вами в течении часа.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="personal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="image"><img src="assets/images/p2.jpg" alt=""></div>
            </div>
            <div class="col-md-8">
              <div class="text">
                <h2>Лев Попов</h2>
                <p>#основатель</p>
                <div class="scroll">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam nulla repudiandae, pariatur, officia natus, minus ratione quae, eligendi ab voluptatibus. Dolorem cupiditate, eligendi harum.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero pariatur commodi repellendus, perspiciatis, ratione quibusdam temporibus quo fuga accusamus, blanditiis, necessitatibus minus! Perferendis itaque, libero.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nesciunt saepe temporibus, mollitia nisi alias facere delectus corporis voluptas. Perspiciatis labore, libero quibusdam architecto dolorem!</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio, magni nulla mollitia?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

dev/pug/index.pug
include include/head
body

	include include/header_inner
	include include/nav__inner
	
	main.pl-0.pr-0
		.header.header__inner-main
			.slick-dots-header
			.container
				.row
					.col-12
						.slick__header
							.slick__header--items
								span Промышленное оборудование <br/>и&nbsp;бизнес-сопровождение ваших проектов в&nbsp;Китае
								h1 Опытная русская команда&#8194;<br/>откроет дверь в <span>Китай</span>&#8194;<br/>вашему бизнесу.
								p Охватываем главную тему, плюс общую идею бизнес-сопровождения. Простым языком доводим направление работы.
							.slick__header--items
								span Импорт и&nbsp;экспорт
								h1 Юридически безопасный&#8194;<br/>импорт и <span>бизнес</span>-решения&#8194;<br/>по экспорту
								p Охватываем основные 2&nbsp;пути работы с&nbsp;Китаем. Делаем акцент на&nbsp;гарантии, юридической безопасности и&nbsp;возможностей к&nbsp;экспорту.
							.slick__header--items
								span Снабжение производств <br/>и&nbsp;сопровождение проектов под ключ
								h1 Организуем комплексное <br/>взаимодействие бизнеса <br/>России и <span>Китая</span>
								p от продажи оборудования переходим к&nbsp;снабжению и&nbsp;говорим о&nbsp;сопровождении любых проектов. Говорим об «организации контракта» как о&nbsp;основной возможности компании.
				.row.align-items-center
					.col-md-6
						a.btn.btn-primary(href="#") оставить заявку
					.col-md-6.d-none.d-md-inline-block
						.slick__header-pagination
							.prev: img(src="assets/images/arrow-prev.svg", alt="")
							.next: img(src="assets/images/arrow-next.svg", alt="")

		.white-box
			.container
				.row
					.col-12.title
						h1 Услуги
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 01
							strong Импорт оборудования от надежных заводов
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 02
							strong Организация бизнес-поездок на заводы и выставки России и Китая
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 03
							strong Поиск и выбор ответственных производителей в Китае
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 04
							strong Комплексное сопровождение экспорта Русской продукции
							p Оказываем весь спектр услуг для отечественных производителей от консалтинга и упаковки бренда, до экспорта продукции от лица своей компании. 
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 05
							strong Помощь в юридических аспектах в работе с Китаем
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков

		.box.pb-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							.d-flex.align-items-end.justify-content-start.fw
								h2 Недавние проекты
								a.all.ml-4(href="#" style="margin-bottom: 75px;") смотреть все
							.project-pagination
								.prev: img(src="assets/images/arrow-prev.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next.svg", alt="")
					.col-12
						.project-slider
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск

		.advantages.advantages__inner#advantages
			.container
				.row
					.col-12.text-center
						h3 Почему вам выгодно работать с&nbsp;нами
					.col-12.d-none.d-lg-inline-block
						ul.nav.nav-pills.justify-content-between#av-tab
							li.nav-item: a.nav-link.active(href="#a1" data-toggle="tab") Ценовая <br/>политика
							li.nav-item: a.nav-link(href="#a2" data-toggle="tab") Надежность <br/>и уверенность
							li.nav-item: a.nav-link(href="#a3" data-toggle="tab") Мобильность <br/>и активность
							li.nav-item: a.nav-link(href="#a4" data-toggle="tab") Принципиальность <br/>в нашем ДНК
						.tab-content#av-content
							.tab-pane.fade.show.active#a1 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a4" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a1.png", alt="")
										strong Оптимальная ценовая политика
										p Мы предлагаем качество <br/>по&nbsp;конкурентоспособным ценам.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a2" data-toggle="tab")
							.tab-pane.fade#a2 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a1" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a2.png", alt="")
										strong Надежность и уверенность
										p Вы можете быть уверены в&nbsp;юридической <br/>чистоте и&nbsp;гарантии сделки.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a3" data-toggle="tab")
							.tab-pane.fade#a3 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a2" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a3.png", alt="")
										strong Мобильность и&nbsp;активность
										p Мы исследуем рынок Китая и знаем где, <br/>когда и&nbsp;с&nbsp;кем лучше взаимодействовать в&nbsp;настоящий момент времени.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a4" data-toggle="tab")
							.tab-pane.fade#a4 
								.row.align-items-center
									.col-1.ml-auto.text-center
										a.fa.fa-angle-left(href="#a3" data-toggle="tab")
									.col-xl-6.col-lg-8.text-center
										img(src="assets/images/a4.png", alt="")
										strong Принципиальность в нашем ДНК
										p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для нас больше, чем просто слова.
									.col-1.mr-auto.text-center
										a.fa.fa-angle-right(href="#a1" data-toggle="tab")
					.col-12.d-inline-block.d-lg-none
						.advantages__items
							strong Оптимальная ценовая политика
							p Мы предлагаем качественное оборудование по&nbsp;конкурентоспособным ценам
						.advantages__items
							strong Надежность и&nbsp;уверенность
							p Вы можете быть уверены в&nbsp;оказании качественных услуг до&nbsp;самого момента запуска станка в&nbsp;работу.
						.advantages__items
							strong Мобильность и&nbsp;активность
							p Мы контролируем производителей и&nbsp;знаем где, когда и&nbsp;у&nbsp;кого лучше приобретать оборудование в&nbsp;настоящий момент времени
						.advantages__items
							strong Принципиальность в&nbsp;нашем ДНК
							p В работе над любым проектом мы придерживаемся своих принципов и&nbsp;этики делового общения, которые для&nbsp;нас больше, чем просто слова. 

		.white-box.mb-0
			.container
				.row
					.col-12.title.mt-0.mb-0
						.d-flex.w-100.align-items-center.justify-content-between
							.d-flex.align-items-end.justify-content-start.fw
								h2 Блог о бизнесе в Китае
								a.all.ml-4(href="#" style="margin-bottom: 65px;") читать весь
							.blog-pagination
								.prev: img(src="assets/images/arrow-prev-blue.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next-blue.svg", alt="")
					.col-12
						.blog-slider
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования
							a.blog__item(href="#")
								.image(style="background: url('assets/images/site/blog.png')")
									span О компании
								.text
									.d-flex
										span 23 сентября 2019 
										span.text-large &bull; 
										span 5 мин читать
									p Импорт оборудования от надежных заводов оборудования


		.personal.personal__inner#personal
			.container
				.row
					.col-12
						.d-flex.justify-content-between
							h3 Компания в лицах
							.personal__count 01 - 03
			.container-fluid
				.row
					.col-xl-8.col-lg-10.ml-auto
						.slick__personal
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p.jpg') center / cover no-repeat;")
									p Лев Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p2.jpg') center / cover no-repeat;")
									p Иван Попов
								p #основатель
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p5.jpg') center / cover no-repeat;")
									p Марина Сидельникова
								p #администратор
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p3.jpg') center / cover no-repeat;")
									p Алексей Соколов
								p #менеджер по продажам
							.personal__items
								.personal__card
									.image(style="background: url('assets/images/p4.jpg') center / cover no-repeat;")
									p Сун Лей
								p #менеджер по Китаю

			.container
				.row
					.col-12
						.d-flex.align-items-center.justify-content-end
							.personal__prev.fa.fa-angle-right
							.personal__next.fa.fa-angle-left

		.catalog#catalog
			.container
				.row
					.col-12
						h3 Наши каталоги
					.col-12
						.catalog__items
							p Оборудование для&nbsp;производства&nbsp;пакетов
							a(href="http://importpack.ru" target="_blank") importpack.ru
						.catalog__items
							p Оборудование для&nbsp;алмазного&nbsp;бурения
							a(href="http://redbur.ru" target="_blank") redbur.ru

	include include/footer_inner
	include include/modal
