www/service.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?v2">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае</title>
  </head>
</html>
<body>
  <nav class="inner"><a class="close" href="#">&#215;</a>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 ml-auto">
          <ul>
            <li><a href="#"><b>О нас</b></a></li>
            <li><a href="#"><b>Услуги</b></a></li>
            <li><a href="#"><b>Проекты</b></a></li>
            <li><a href="#"><b>Гарантии</b></a></li>
            <li><a href="#"><b>Блог</b></a></li>
            <li><a href="#"><b>Контакты</b></a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4">
          <ul>
            <li><a href="#">Истории успеха</a></li>
            <li><a href="#">Каталоги</a></li>
            <li><a href="#">Партнёрам</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-4 mr-auto">
          <div class="d-flex flex-column align-items-start"><a class="phone" href="tel:+74162589938">+7 (4162) 58-99-38</a><a class="mail" href="mailto:info@chex.ru">info@chex.ru</a><a class="insta" href="#"><img src="assets/images/site/inst.svg" alt=""></a>
            <p>Всё о бизнесе в Китае</p><a class="btn btn-primary" href="#callback" data-toggle="modal">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-overlay"></div>
  <main class="pl-0 pr-0">
    <div class="header-page pb-0">
      <header class="header__inner">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4 col-6"><a class="logo" href="#"><img src="assets/images/site/logo-h.png" alt="">
                <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p></a></div>
            <div class="col-5 d-none d-xl-inline-block">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-xl-3 col-lg-8 text-right col-6">
              <div class="d-flex w-100 align-items-center justify-content-end"><a class="phone" href="#">+7 (4162) 58-99-38</a><a class="menu" href="#"><span></span></a></div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="white-box">
      <div class="container">
        <div class="row">
          <div class="col-12"><a class="back" href="#">Назад</a></div>
          <div class="col-12 title">
            <div class="d-flex w-100 align-items-end justify-content-between">
              <h1>Организация бизнес-поездок на&nbsp;заводы и&nbsp;выставки России и&nbsp;Китая</h1><a class="btn btn-primary" href="#">оставить заявку</a>
            </div>
          </div>
          <div class="col-12"><img src="assets/images/site/article.jpg" alt=""></div>
          <div class="col-lg-8">
            <p><b>Текст про компанию с ноткой романтизма и подчёркнутого профессионализма. Далее текст с сайта-конкурента. Мы являемся консалтинговой.</b></p>
            <p>Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.</p>
            <p>Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.</p>
          </div>
          <div class="col-lg-3 ml-auto"><a class="video" href="#"><span>Видео-обзор</span>
              <p>Короткий заголовок о чём  видео-обзор …</p></a></div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <h2>Этапы работы</h2>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="work-steps__item"><span>01</span><strong>Название этапа</strong>
              <p>Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="work-steps__item"><span>02</span><strong>Название этапа в две строки</strong>
              <p>Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими производителями китайского оборудования </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="work-steps__item"><span>03</span><strong>Название этапа</strong>
              <p>Краткий описательный текст. Тесные партнерские отношения </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <h2>Реализованные проекты</h2>
              <div class="project-pagination">
                <div class="prev"><img src="assets/images/arrow-prev.svg" alt=""></div>
                <div class="count"></div>
                <div class="next"><img src="assets/images/arrow-next.svg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="project-slider"><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a><a class="blog__item blog__item--project" href="#">
                <div class="image" style="background: url('assets/images/site/project.jpg')"></div>
                <div class="text">
                  <p>Лазерно-гравироваль слово для примера станок</p><span>Урюпинск</span>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form__consultation box">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Консультация</h2>
          </div>
          <div class="col-12">
            <form class="row">
              <div class="col-xl-9 col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group w-100">
                      <input class="form-control" type="text" placeholder="Представтесь">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group w-100">
                      <input class="form-control" type="text" placeholder="Телефон">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4">
                <button class="btn btn-primary">получить консультацию</button>
                <p>Нажимая на кнопку, вы соглашаетесь с обработкой личных данных</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="box pt-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <h2>Другие услуги</h2><a class="all" href="#">все услуги</a>
            </div>
          </div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>01</span><strong>Импорт оборудования от надежных заводов</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
          <div class="col-lg-6"><a class="services__item" href="#">
              <div class="hover" style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat"></div><span>02</span><strong>Организация бизнес-поездок на заводы и выставки России и Китая</strong>
              <p>Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков</p></a></div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer__inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-4">
          <div class="row">
            <div class="col-lg-6"><a class="logo" href="#"><img src="assets/images/site/logo.png" alt=""></a>
              <p>Промышленное оборудование <br/>и безнес-сопровождение проектов в Китае</p>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Гарантии</a></li>
                <li><a href="#">Блог</a></li>
              </ul>
            </div>
            <div class="col-3 d-none d-lg-inline-block">
              <ul>
                <li><a href="#">Истории успеха</a></li>
                <li><a href="#">Каталоги</a></li>
                <li><a href="#">Партнёрам</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-8">
          <div class="row">
            <div class="col-lg-6 col-md-5 ml-auto"><a class="contacts__link" href="#">+7 (4162) 58-99-38</a><a class="contacts__link" href="#">info@chex.ru</a><a class="btn btn-secondary" href="#">обратный звонок</a></div>
            <div class="col-lg-4 col-md-5"><a class="insta" href="#"><img src="assets/images/site/instagram.png" alt=""></a>
              <p>Всё о бизнесе в Китае</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bottom">
      <div class="row">
        <div class="col-sm-6 text-left">
          <p>©  chex, 2019</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>создание и дизайн — <a href="#" target="_blank">affetta.ru</a></p>
        </div>
      </div>
    </div>
  </footer>
  <div class="modal fade bd-example-modal-lg" id="callback">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <form>
            <h3>Ваша заявка</h3>
            <p>Введите ваш номер телефона и&nbsp;менеджер свяжется с&nbsp;вами в&nbsp;течении часа.</p>
            <div class="form-group">
              <input class="form-control" placeholder="+7 (___)" name="phone" required="required">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="thanx">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body text-center">
          <form class="d-block">
            <h3>Спасибо! Заявка <br/>успешно отправлена</h3>
            <p>Ваш персональный  менеджер свяжется с вами в течении часа.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="personal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="image"><img src="assets/images/p2.jpg" alt=""></div>
            </div>
            <div class="col-md-8">
              <div class="text">
                <h2>Лев Попов</h2>
                <p>#основатель</p>
                <div class="scroll">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam nulla repudiandae, pariatur, officia natus, minus ratione quae, eligendi ab voluptatibus. Dolorem cupiditate, eligendi harum.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero pariatur commodi repellendus, perspiciatis, ratione quibusdam temporibus quo fuga accusamus, blanditiis, necessitatibus minus! Perferendis itaque, libero.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nesciunt saepe temporibus, mollitia nisi alias facere delectus corporis voluptas. Perspiciatis labore, libero quibusdam architecto dolorem!</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio, magni nulla mollitia?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

dev/pug/service.pug
include include/head
body
	include include/nav__inner
	
	main.pl-0.pr-0
		.header-page.pb-0
			include include/header_inner

		.white-box
			.container
				.row
					.col-12
						a.back(href="#") Назад
					.col-12.title
						.d-flex.w-100.align-items-end.justify-content-between
							h1 Организация бизнес-поездок на&nbsp;заводы и&nbsp;выставки России и&nbsp;Китая
							a.btn.btn-primary(href="#") оставить заявку
					.col-12
						img(src="assets/images/site/article.jpg", alt="")
					.col-lg-8
						p: b Текст про компанию с ноткой романтизма и подчёркнутого профессионализма. Далее текст с сайта-конкурента. Мы являемся консалтинговой.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
						p Тесные партнерские отношения с лучшими производителями китайского оборудования, хорошо зарекомендовавшими себя на международном рынке, позволяют нам предоставлять своим клиентам лучшее китайское оборудование, маркетинговые исследования, бизнес планы и качественный сервис.
					.col-lg-3.ml-auto
						a.video(href="#")
							span Видео-обзор
							p Короткий заголовок о чём  видео-обзор …

		.box
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Этапы работы
					.col-lg-4
						.work-steps__item
							span 01
							strong Название этапа
							p Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими
					.col-lg-4
						.work-steps__item
							span 02
							strong Название этапа в две строки
							p Краткий описательный текст. Тесные партнерские отношения с лучшими Краткий описательный текст. Тесные партнерские отношения с лучшими производителями китайского оборудования 
					.col-lg-4
						.work-steps__item
							span 03
							strong Название этапа
							p Краткий описательный текст. Тесные партнерские отношения 

		.box
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Реализованные проекты
							.project-pagination
								.prev: img(src="assets/images/arrow-prev.svg", alt="")
								.count
								.next: img(src="assets/images/arrow-next.svg", alt="")
					.col-12
						.project-slider
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск
							a.blog__item.blog__item--project(href="#")
								.image(style="background: url('assets/images/site/project.jpg')")
								.text
									p Лазерно-гравироваль слово для примера станок
									span Урюпинск

		.form__consultation.box
			.container
				.row
					.col-12
						h2 Консультация
					.col-12
						form.row
							.col-xl-9.col-lg-8
								.row
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Представтесь")
									.col-lg-6
										.form-group.w-100
											input.form-control(type="text" placeholder="Телефон")
							.col-xl-3.col-lg-4
								button.btn.btn-primary получить консультацию
								p Нажимая на кнопку, вы соглашаетесь с обработкой личных данных

		.box.pt-0
			.container
				.row
					.col-12
						.d-flex.w-100.align-items-center.justify-content-between
							h2 Другие услуги
							a.all(href="#") все услуги

					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 01
							strong Импорт оборудования от надежных заводов
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков
					.col-lg-6
						a.services__item(href="#")
							.hover(style="background: url('assets/images/site/services-bg.jpg') center / cover no-repeat")
							span 02
							strong Организация бизнес-поездок на заводы и выставки России и Китая
							p Наш опыт – это наша гарантия, мы покупаем только у проверенных поставщиков


	include include/footer_inner
	include include/modal
