dev/pug/start.pug
include include/head
body
	.container
		.row
			.col-12
				ul(style="margin: 30px 0")
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="index.html") Главная
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="about.html") О нас
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="article.html") Статья
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="blog.html") Блог
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="catalog.html") Каталог
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="contacts.html") Контакты
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="faq.html") FAQ
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="guarantee.html") Гарантии
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="history.html") История
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="partners.html") Партнерам
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="project.html") Проекты
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="service.html") Услуга
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="services.html") Услуги
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" href="404.html") 404
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" data-toggle="modal" href="#callback") Обратный звонок (попап) 
					li(style="margin: 0 0 6px;"): a(style="color: #fff;" data-toggle="modal" href="#thanx") Спасибо (попап)
	include include/modal

www/start.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="msthemecompatible" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png?v2">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.css">
    <link rel="stylesheet" href="vendor/selectize.js-master/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="vendor/masonry.pkgd.min.js"></script>
    <script src="vendor/selectize.js-master/dist/js/standalone/selectize.min.js"></script>
    <script src="vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/app.js"></script>
    <title>CHEX | Промышленное оборудование и бизнес-сопровождение ваших проектов в Китае</title>
  </head>
</html>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul style="margin: 30px 0">
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="index.html">Главная</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="about.html">О нас</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="article.html">Статья</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="blog.html">Блог</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="catalog.html">Каталог</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="contacts.html">Контакты</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="faq.html">FAQ</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="guarantee.html">Гарантии</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="history.html">История</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="partners.html">Партнерам</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="project.html">Проекты</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="service.html">Услуга</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="services.html">Услуги</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" href="404.html">404</a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" data-toggle="modal" href="#callback">Обратный звонок (попап) </a></li>
          <li style="margin: 0 0 6px;"><a style="color: #fff;" data-toggle="modal" href="#thanx">Спасибо (попап)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="callback">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <form>
            <h3>Ваша заявка</h3>
            <p>Введите ваш номер телефона и&nbsp;менеджер свяжется с&nbsp;вами в&nbsp;течении часа.</p>
            <div class="form-group">
              <input class="form-control" placeholder="+7 (___)" name="phone" required="required">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="3" placeholder="Ваш комментарий"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="thanx">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body text-center">
          <form class="d-block">
            <h3>Спасибо! Заявка <br/>успешно отправлена</h3>
            <p>Ваш персональный  менеджер свяжется с вами в течении часа.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="personal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="image"><img src="assets/images/p2.jpg" alt=""></div>
            </div>
            <div class="col-md-8">
              <div class="text">
                <h2>Лев Попов</h2>
                <p>#основатель</p>
                <div class="scroll">
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam nulla repudiandae, pariatur, officia natus, minus ratione quae, eligendi ab voluptatibus. Dolorem cupiditate, eligendi harum.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero pariatur commodi repellendus, perspiciatis, ratione quibusdam temporibus quo fuga accusamus, blanditiis, necessitatibus minus! Perferendis itaque, libero.</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nesciunt saepe temporibus, mollitia nisi alias facere delectus corporis voluptas. Perspiciatis labore, libero quibusdam architecto dolorem!</p>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio, magni nulla mollitia?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
